<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>Gujarat Santana CV</title>

    <link rel="stylesheet" href="{{site.url}}assets/css/cv.css" />
    <link rel="stylesheet" href="{{site.url}}assets/css/pygment_trac.css" />
    <meta name="viewport" content="width=device-width" />
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img
          class="profile-img"
          src="https://gujarats.github.io/cv/assets/images/gujarats.jpg"
          alt="Girl in a jacket"
          height="150"
        />
        <h1 class="profile-name">Gujarat Santana</h1>
        <h2 class="profile-name">Software Engineer</h2>

        <h3 class="summary">Summary</h3>
        <p>
          Results-oriented Software Engineer with experience in different types
          of companies from small to unicorn.
        </p>

        <p>
          Hands-on designing, developing, and deploying high-performance
          software solutions, hands-on coding, cloud technologies, and frontend
          development.
        </p>
        <p>
          Experience in collaborating with a cross functional team to deliver
          efficient solutions. Seeking to leverage my expertise in backend
          development.
        </p>
        <a href="mailto: gujarat.santana@gmail.com"
          >Email : <strong>gujarat.santana@gmail.com</strong></a
        >
      </header>
      <section>
        <p class="hidden-print">
          <a
            href="https://stackoverflow.com/users/2652524/gujarat-santana?tab=profile"
            >StackOverflow</a
          >
          /
          <a href="https://gujarats.github.io/blog/">Blog</a>
          /
          <a href="https://github.com/gujarats/">GitHub</a>
        </p>
        {{ content }}
      </section>
      <footer>
        <p>
          <small
            >Credits for the theme
            <a href="https://github.com/orderedlist">orderedlist</a></small
          >
        </p>
      </footer>
    </div>
    <script src="{{site.url}}assets/js/scale.fix.js"></script>
  </body>
</html>
