<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Gujarat Santana CV</title>

    <link rel="stylesheet" href="/assets/css/cv.css">
    <link rel="stylesheet" href="/assets/css/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    {% include navigation.html %} 
    {{ content }}
    <script src="/assets/js/scale.fix.js"></script>
  </body>
</html>
